.link-design-no {
  text-decoration: none;
}
.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
.leaflet-routing-container .leaflet-bar .leaflet-control {
  display: none;
}
.leaflet-routing-alt {
  display: none;
}
